
.container {
    display: grid;
    box-shadow: 0px 0px 5px 1px;
    grid-template-columns: repeat(30, 10px);
    grid-template-rows: 10px 100px 10px 5px 5px 5px 5px auto;
    height: 450px;
    width: 300px;
    margin: 20px auto;
  }
  
  .item-a {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 32;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Nz_FzJ8LaKWfWiDaFm5Ed7GcQ99Gf72lIsOhkdLBeP5gXb12');
  }
  
  .avatar {
    background-size: 110px 130px;
    grid-column-start: 21;
    grid-column-end: 30;
    grid-row-start: 2;
    grid-row-end: 6;
    border: 3px solid aquamarine;
    box-shadow: 3px 3px 2px;
  }
  
  .position-bar {
    height: 15px;
    width: 200px;
    background: aquamarine;
    box-shadow: 2px 2px 2px black;
    grid-column-start: 5;
    grid-column-end: 15;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    font-family: rockwell;
    padding: 1px 1px 1px 1px;
    line-height: 1.8;
    font-size: 12px;
  }
  
  .index {
    grid-column-start: 2;
    grid-column-end: 22;
    grid-row-start: 3;
    grid-row-end: 15;
    color: black;
    font-size: 12px;
  }
  
  .name {
    grid-column-start: 5;
    grid-column-end: 23;
    grid-row-start: 2;
    grid-row-end: 7;
    color: white;
    font-size: 20px;
    font-family: 'bevan';
    text-shadow: -1px 0 black, 0 1px black, 2px 2px black, 0 1px black;
  }
  
  .lastname {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 8;
    color: white;
    font-size: 14px;
    font-family: 'bevan';
    text-shadow: -1px 0 black, 0 1px black, 2px 2px black, 0 1px black;
  }
  
  .age {
    grid-column-start: 15;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 8;
    color: white;
  }

  .statheader {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 20;
    color: rgb(255, 1, 1);
    width: 100px;
  }
  
  .statheaders {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 9;
    grid-row-end: 25;
    color: rgb(255, 0, 0);
    width: 300px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: .5px;
  }
  
  .stats {
     grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 20;
    color: black;
    width: 300px;
    font-size: 12.5px;
    line-height: 2;
    letter-spacing: 1.2px;
  }
  
  .stats2 {
     grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 11;
    grid-row-end: 20;
    color: black;
    width: 300px;
    font-size: 13px;
    line-height: 2;
  }
  
  .stats3 {
     grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 12;
    grid-row-end: 20;
    color: black;
    width: 300px;
    font-size: 13px;
    line-height: 2;
  }

  .front-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 450px;
    width: 300px;
    margin: 20px auto;
  }
  
  .name-box {
    background: rgba(255,255,255,.6);
    height: 35px;
    width: 300px;
    grid-row-start: 43;
    grid-row-end: 45;
    text-align: center;
    padding: 5px 0px 10px 25px;
    font-family: 'bevan';
    color: midnightblue;
    font-size: 16px;
    font-weight: lighter;
    text-shadow:  2px 2px #505050, 0 1px grey;
    display: grid;
  }
  
  .logo-box {
    height: 80px;
    width: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-size: 60px 80px;
    position: absolute;
  }
  
  .trademark {
    color: white;
    font-family: helvetica;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    margin: 2px 2px 16px 30px;
  }

  .logo-box-container {
    position: relative;
    height: 80px;
    width: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: -45px -20px;
    border-radius: 40px 40px 0px 0px;
    border-bottom-width: 15px;
    background: white;
  }